- title 'Administration Dashboard'

%h2 System Management

%p
  = link_to 'Manage projects', admin_projects_url
  %br
  = link_to 'Manage environments', admin_environments_url

%h2 User Management

%p
  = link_to 'Manage users', admin_users_url
