/* line 3, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
body {
  background: #7ea6bb;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

/* line 10, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
h1 {
  margin: 0em;
  padding: 0;
  font-size: 20px;
}

/* line 14, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
h2 {
  margin: 0em;
  padding: 0;
  font-size: 18px;
}
/* line 18, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
h2 span {
  font-size: 0.6em;
}

/* line 20, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
h3 {
  margin: 0em;
  padding: 0;
  font-size: 16px;
}

/* line 24, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
h4 {
  margin: 0em;
  padding: 0;
  font-size: 14px;
}

/* line 28, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
h5 {
  margin: 0em;
  padding: 0;
  font-size: 12px;
}

/* line 32, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
h6 {
  margin: 0em;
  padding: 0;
  font-size: 10px;
}

/* line 36, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
a {
  color: blue;
}
/* line 38, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
a img {
  border: none;
}

/* line 41, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/* line 46, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
#container {
  position: relative;
  width: 97%;
  margin: 0 auto;
  background: white;
  padding: 0px;
  border: solid 1px black;
}
/* line 53, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
#container #overview {
  padding: 0px 10px 0px 20px;
  margin-top: 6.7em;
  margin-bottom: 0px;
}
/* line 57, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
#container #overview #messages {
  padding-top: 15px;
}

/* line 59, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
#summary {
  display: block;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10000;
  width: 100%;
  height: 65px;
  padding: 10px 20px 20px 20px;
  margin-bottom: 1em;
  border-bottom: solid 1px black;
  background: #ffffdd;
}

/* line 71, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
.nav_tabs {
  padding: 0em;
  width: 95%;
  text-align: center;
}
/* line 75, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
.nav_tabs a {
  position: relative;
  bottom: -11px;
  background: white;
  color: black;
  padding: 0.3em 1.2em 5px 1.2em;
  border-top: solid 1px black;
  border-left: solid 1px black;
  border-right: solid 1px black;
  border-bottom: none;
  text-decoration: none;
  font-weight: bold;
}
/* line 87, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
.nav_tabs a:hover {
  background: #7777aa;
  color: white;
}

/* line 91, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
#flash_notice,
#flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

/* line 96, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66;
}

/* line 100, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
#flash_error {
  background-color: #ffcccc;
  border: solid 1px #cc6666;
}

/* line 104, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
.fieldWithErrors {
  display: inline;
}

/* line 107, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
#errorExplanation {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 114, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
#errorExplanation h2 {
  text-align: left;
  padding: 5px 5px 5px 15px;
  margin: 0;
  font-weight: bold;
  font-size: 12px;
  background-color: #cc0000;
  color: white;
}
/* line 123, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
#errorExplanation p {
  color: #333333;
  margin-bottom: 0;
  padding: 8px;
}
/* line 127, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
#errorExplanation ul {
  margin: 2px 24px;
}
/* line 129, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

/* line 133, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
#status_summary {
  margin-bottom: 20px;
  text-align: center;
  background-color: #eeeeff;
  padding: 5px;
  border: solid 1px #999999;
}
/* line 139, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
#status_summary #status_summary_items {
  margin-top: 5px;
}
/* line 141, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
#status_summary #status_summary_items img {
  vertical-align: text-bottom;
}

/* line 144, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
.status {
  position: relative;
}
/* line 146, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
.status img {
  position: absolute;
  vertical-align: text-bottom;
  left: 0.3em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}
/* line 152, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
.status .accepted {
  background-color: #00aa00;
  color: white;
  font-weight: bold;
  padding: 0.2em 0.1em 0.2em 1em;
  width: 8em;
  text-align: center;
  margin: 0;
  border-right: 1px solid #999999;
  border-left: 1px solid #999999;
}
/* line 162, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
.status .rejected {
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 0.2em 0.1em 0.2em 1em;
  width: 8em;
  text-align: center;
  margin: 0;
  border-right: 1px solid #999999;
  border-left: 1px solid #999999;
}
/* line 172, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
.status .delivered {
  background-color: #dd7700;
  color: white;
  font-weight: bold;
  padding: 0.2em 0.1em 0.2em 1em;
  width: 8em;
  text-align: center;
  margin: 0;
  border-right: 1px solid #999999;
  border-left: 1px solid #999999;
}
/* line 182, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
.status .finished {
  background-color: #eeee00;
  color: black;
  font-weight: bold;
  padding: 0.2em 0.1em 0.2em 1em;
  width: 8em;
  text-align: center;
  margin: 0;
  border-right: 1px solid #999999;
  border-left: 1px solid #999999;
}
/* line 192, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
.status .started {
  background-color: #006699;
  color: white;
  font-weight: bold;
  padding: 0.2em 0.1em 0.2em 1em;
  width: 8em;
  text-align: center;
  margin: 0;
  border-right: 1px solid #999999;
  border-left: 1px solid #999999;
}
/* line 202, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
.status .unstarted {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 0.2em 0.1em 0.2em 1em;
  width: 8em;
  text-align: center;
  margin: 0;
  border-right: 1px solid #999999;
  border-left: 1px solid #999999;
}

/* line 212, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
.task_type {
  position: relative;
  width: 1.5em;
}
/* line 215, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
.task_type img {
  position: absolute;
  vertical-align: text-bottom;
  left: 0.3em;
  top: 0.1em;
}

/* line 220, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
.title {
  width: 100%;
}

/* line 222, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
#usernav {
  position: absolute;
  top: -1px;
  right: 5em;
  float: right;
  background-color: white;
  padding: 0.3em 0.5em 0.3em 0.3em;
  border: black solid 1px;
}
/* line 230, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
#usernav #user_identity {
  float: left;
  padding-left: 38px;
  margin-right: 10px;
  text-align: center;
}
/* line 235, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
#usernav #user_identity a {
  text-decoration: none;
  color: #444444;
  font-weight: bold;
}
/* line 239, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
#usernav #user_identity a:hover {
  color: #666666;
  text-decoration: underline;
}
/* line 242, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
#usernav #user_identity img {
  position: absolute;
  vertical-align: text-bottom;
  top: 4px;
  left: 3px;
}
/* line 247, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
#usernav #refresh_options {
  background: transparent;
  float: right;
}
/* line 250, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
#usernav #refresh_options #refresh_option_text {
  position: relative;
  text-align: center;
  padding-left: 35px;
}
/* line 254, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
#usernav #refresh_options #refresh_option_text a {
  font-weight: bold;
  color: #444444;
  text-decoration: none;
}
/* line 258, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
#usernav #refresh_options #refresh_option_text a:hover {
  color: #666666;
  text-decoration: underline;
}
/* line 261, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
#usernav #refresh_options #refresh_option_text span {
  color: #999999;
}
/* line 263, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
#usernav #refresh_options #refresh_option_text img {
  position: absolute;
  vertical-align: text-bottom;
  top: 0px;
  left: 3px;
}

/* line 268, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
#globalnav {
  position: relative;
  margin-right: 40px;
  top: -5px;
  background: transparent;
}
/* line 273, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
#globalnav a {
  position: relative;
  top: -3px;
  background: white;
  color: black;
  padding: 0.2em 0.6em 0.2em 0.6em;
  border-bottom: solid 1px black;
  border-left: solid 1px black;
  border-right: solid 1px black;
  border-top: none;
  text-decoration: none;
  font-weight: bold;
}
/* line 285, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
#globalnav a:hover {
  background: #7777aa;
  color: white;
}

/* line 289, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
#main_detail {
  padding: 0.1em 0em 0em 0em;
  width: 800px;
}

/* line 292, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
#status_info {
  float: right;
  width: 21em;
  margin: 0px 0px 0px 2em;
  padding: 0px;
  font-size: 0.9em;
  white-space: nowrap;
}
/* line 299, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
#status_info strong {
  font-size: 1.1em;
}

/* line 301, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
table {
  border-spacing: 0px;
  margin-bottom: 20px;
}
/* line 304, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
table a {
  display: block;
  text-decoration: none;
  color: inherit;
}
/* line 308, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
table a.action {
  display: inline;
  text-decoration: none;
  color: inherit;
}
/* line 312, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
table a.action:hover {
  text-decoration: underline;
}
/* line 314, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
table th {
  font-family: Garamond, “Hoefler Text”, Palatino, “Palatino Linotype”, serif;
  font-weight: bold;
  font-variant: small-caps;
  text-transform: capitalize;
  padding: 0.2em 0.6em 0em 0.6em;
  border-bottom: 1px solid #999999;
}
/* line 321, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
table th:hover {
  background: white;
  color: black;
}
/* line 325, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
table tr.head:hover {
  background: white;
  color: black;
}
/* line 328, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
table tr:hover {
  background: #7777aa;
  color: white;
}
/* line 331, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
table td {
  font-size: 13px;
  padding: 0em 0.2em 0em 0.2em;
  border-bottom: 1px solid #999999;
}
/* line 335, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
table td.left {
  border-left: 1px solid #999999;
}
/* line 337, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
table td.right {
  border-right: 1px solid #999999;
  text-align: center;
}
/* line 342, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
table tr.grey:hover td {
  background: #7777aa;
  color: white;
}
/* line 345, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
table tr.grey td {
  background: #eeeeee;
}

/* line 347, /Users/jmischo/Projects/FeatureTrack/public/stylesheets/sass/application.sass */
.nowrap {
  white-space: nowrap;
}
