/* line 3, ../../app/views/stylesheets/application.sass */
body {
  background: #fafaff;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

/* line 10, ../../app/views/stylesheets/application.sass */
h1 {
  margin: 0em;
  padding: 0;
  font-size: 20px;
}

/* line 14, ../../app/views/stylesheets/application.sass */
h2 {
  margin: 0em;
  padding: 0;
  font-size: 18px;
}
/* line 18, ../../app/views/stylesheets/application.sass */
h2 span {
  font-size: 0.6em;
}

/* line 20, ../../app/views/stylesheets/application.sass */
h3 {
  margin: 0em;
  padding: 0;
  font-size: 16px;
}

/* line 24, ../../app/views/stylesheets/application.sass */
h4 {
  margin: 0em;
  padding: 0;
  font-size: 14px;
}

/* line 28, ../../app/views/stylesheets/application.sass */
h5 {
  margin: 0em;
  padding: 0;
  font-size: 12px;
}

/* line 32, ../../app/views/stylesheets/application.sass */
h6 {
  margin: 0em;
  padding: 0;
  font-size: 10px;
}

/* line 36, ../../app/views/stylesheets/application.sass */
a {
  color: blue;
}
/* line 38, ../../app/views/stylesheets/application.sass */
a img {
  border: none;
}

/* line 41, ../../app/views/stylesheets/application.sass */
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/* line 46, ../../app/views/stylesheets/application.sass */
.small_right {
  font-size: 0.8em;
  float: right;
}

/* line 49, ../../app/views/stylesheets/application.sass */
#container {
  position: relative;
  width: 97%;
  margin: 0 auto;
  background: transparent;
  padding: 0px;
  border: none;
}
/* line 56, ../../app/views/stylesheets/application.sass */
#container #overview {
  padding: 0px 10px 0px 20px;
  margin-top: 6.7em;
  margin-bottom: 0px;
}
/* line 60, ../../app/views/stylesheets/application.sass */
#container #overview #messages {
  padding-top: 15px;
}

/* line 62, ../../app/views/stylesheets/application.sass */
#summary {
  display: block;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10000;
  width: 100%;
  height: 65px;
  padding: 10px 20px 20px 20px;
  margin-bottom: 1em;
  border-bottom: solid 1px black;
  background: #ffffdd;
}

/* line 74, ../../app/views/stylesheets/application.sass */
#nav_tabs {
  position: fixed;
  display: block;
  left: 0em;
  top: 100%;
  padding: 0em;
  margin: 0em;
  text-align: center;
  z-index: 10000;
}
/* line 83, ../../app/views/stylesheets/application.sass */
#nav_tabs #nav_tab_abs {
  position: absolute;
  width: 650px;
}
/* line 86, ../../app/views/stylesheets/application.sass */
#nav_tabs #nav_tab_abs a {
  position: relative;
  margin-left: -1px;
  float: right;
  background: white;
  color: black;
  padding: 0.3em 0.5em 0.5em 0.5em;
  border-bottom: solid 1px #aaaaaa;
  border-left: solid 1px #aaaaaa;
  border-right: solid 1px #aaaaaa;
  border-top: none;
  text-decoration: none;
}
/* line 98, ../../app/views/stylesheets/application.sass */
#nav_tabs #nav_tab_abs a:hover {
  background: #7777aa;
  color: white;
}

/* line 102, ../../app/views/stylesheets/application.sass */
#flash_notice,
#flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

/* line 107, ../../app/views/stylesheets/application.sass */
#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66;
}

/* line 111, ../../app/views/stylesheets/application.sass */
#flash_error {
  background-color: #ffcccc;
  border: solid 1px #cc6666;
}

/* line 115, ../../app/views/stylesheets/application.sass */
.fieldWithErrors {
  display: inline;
}

/* line 118, ../../app/views/stylesheets/application.sass */
#errorExplanation {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 125, ../../app/views/stylesheets/application.sass */
#errorExplanation h2 {
  text-align: left;
  padding: 5px 5px 5px 15px;
  margin: 0;
  font-weight: bold;
  font-size: 12px;
  background-color: #cc0000;
  color: white;
}
/* line 134, ../../app/views/stylesheets/application.sass */
#errorExplanation p {
  color: #333333;
  margin-bottom: 0;
  padding: 8px;
}
/* line 138, ../../app/views/stylesheets/application.sass */
#errorExplanation ul {
  margin: 2px 24px;
}
/* line 140, ../../app/views/stylesheets/application.sass */
#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

/* line 144, ../../app/views/stylesheets/application.sass */
#context_search {
  font-size: 0.7em;
  border: 1px solid #aaaaaa;
  padding: 1em;
  margin-bottom: 2em;
}
/* line 149, ../../app/views/stylesheets/application.sass */
#context_search input {
  border: 1px solid #aaaaaa;
}
/* line 151, ../../app/views/stylesheets/application.sass */
#context_search input.button {
  border: 1px solid #aaaaaa;
  background: #ffddcc;
  text: #555555;
  padding: 0.5em;
}

/* line 157, ../../app/views/stylesheets/application.sass */
#status_summary {
  margin-bottom: 20px;
  text-align: center;
  background-color: #eeeeff;
  padding: 5px;
  border: solid 1px #999999;
}
/* line 163, ../../app/views/stylesheets/application.sass */
#status_summary #status_summary_items {
  margin-top: 5px;
}
/* line 165, ../../app/views/stylesheets/application.sass */
#status_summary #status_summary_items img {
  vertical-align: text-bottom;
}

/* line 168, ../../app/views/stylesheets/application.sass */
.status {
  position: relative;
}
/* line 170, ../../app/views/stylesheets/application.sass */
.status img {
  position: absolute;
  vertical-align: text-bottom;
  left: 0.3em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}
/* line 176, ../../app/views/stylesheets/application.sass */
.status .accepted {
  background-color: #00aa00;
  color: white;
  font-weight: bold;
  padding: 0.2em 0.1em 0.2em 1em;
  width: 8em;
  text-align: center;
  margin: 0;
  border-right: 1px solid #999999;
  border-left: 1px solid #999999;
}
/* line 186, ../../app/views/stylesheets/application.sass */
.status .rejected {
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 0.2em 0.1em 0.2em 1em;
  width: 8em;
  text-align: center;
  margin: 0;
  border-right: 1px solid #999999;
  border-left: 1px solid #999999;
}
/* line 196, ../../app/views/stylesheets/application.sass */
.status .delivered {
  background-color: #dd7700;
  color: white;
  font-weight: bold;
  padding: 0.2em 0.1em 0.2em 1em;
  width: 8em;
  text-align: center;
  margin: 0;
  border-right: 1px solid #999999;
  border-left: 1px solid #999999;
}
/* line 206, ../../app/views/stylesheets/application.sass */
.status .finished {
  background-color: #eeee00;
  color: black;
  font-weight: bold;
  padding: 0.2em 0.1em 0.2em 1em;
  width: 8em;
  text-align: center;
  margin: 0;
  border-right: 1px solid #999999;
  border-left: 1px solid #999999;
}
/* line 216, ../../app/views/stylesheets/application.sass */
.status .started {
  background-color: #006699;
  color: white;
  font-weight: bold;
  padding: 0.2em 0.1em 0.2em 1em;
  width: 8em;
  text-align: center;
  margin: 0;
  border-right: 1px solid #999999;
  border-left: 1px solid #999999;
}
/* line 226, ../../app/views/stylesheets/application.sass */
.status .unstarted {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 0.2em 0.1em 0.2em 1em;
  width: 8em;
  text-align: center;
  margin: 0;
  border-right: 1px solid #999999;
  border-left: 1px solid #999999;
}

/* line 236, ../../app/views/stylesheets/application.sass */
.task_type {
  position: relative;
  width: 1.5em;
}
/* line 239, ../../app/views/stylesheets/application.sass */
.task_type img {
  position: absolute;
  vertical-align: text-bottom;
  left: 0.3em;
  top: 0.1em;
}

/* line 244, ../../app/views/stylesheets/application.sass */
.title {
  width: 100%;
}

/* line 246, ../../app/views/stylesheets/application.sass */
#usernav {
  position: absolute;
  top: -1px;
  right: 5em;
  float: right;
  background-color: white;
  padding: 0.3em 0.5em 0.3em 0.3em;
  border: black solid 1px;
}
/* line 254, ../../app/views/stylesheets/application.sass */
#usernav #user_identity {
  float: left;
  padding-left: 38px;
  margin-right: 10px;
  text-align: center;
}
/* line 259, ../../app/views/stylesheets/application.sass */
#usernav #user_identity a {
  text-decoration: none;
  color: #444444;
  font-weight: bold;
}
/* line 263, ../../app/views/stylesheets/application.sass */
#usernav #user_identity a:hover {
  color: #666666;
  text-decoration: underline;
}
/* line 266, ../../app/views/stylesheets/application.sass */
#usernav #user_identity img {
  position: absolute;
  vertical-align: text-bottom;
  top: 4px;
  left: 3px;
}
/* line 271, ../../app/views/stylesheets/application.sass */
#usernav #refresh_options {
  background: transparent;
  float: right;
}
/* line 274, ../../app/views/stylesheets/application.sass */
#usernav #refresh_options #refresh_option_text {
  position: relative;
  text-align: center;
  padding-left: 35px;
}
/* line 278, ../../app/views/stylesheets/application.sass */
#usernav #refresh_options #refresh_option_text a {
  font-weight: bold;
  color: #444444;
  text-decoration: none;
}
/* line 282, ../../app/views/stylesheets/application.sass */
#usernav #refresh_options #refresh_option_text a:hover {
  color: #666666;
  text-decoration: underline;
}
/* line 285, ../../app/views/stylesheets/application.sass */
#usernav #refresh_options #refresh_option_text span {
  color: #999999;
}
/* line 287, ../../app/views/stylesheets/application.sass */
#usernav #refresh_options #refresh_option_text img {
  position: absolute;
  vertical-align: text-bottom;
  top: 0px;
  left: 3px;
}

/* line 295, ../../app/views/stylesheets/application.sass */
.nojs #globalnav ul ul {
  display: none;
}

/* line 297, ../../app/views/stylesheets/application.sass */
#globalnav {
  position: relative;
  margin-right: 40px;
  top: -15px;
  background: white;
  display: block;
}
/* line 303, ../../app/views/stylesheets/application.sass */
#globalnav ul, #globalnav li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 307, ../../app/views/stylesheets/application.sass */
#globalnav ul {
  background: white;
}
/* line 309, ../../app/views/stylesheets/application.sass */
#globalnav ul li {
  display: block;
  float: left;
  position: relative;
  background: white;
}
/* line 314, ../../app/views/stylesheets/application.sass */
#globalnav ul li a {
  display: block;
  height: 20px;
  line-height: 20px;
  padding: 5px 10px;
  border: 1px solid #aaaaaa;
  margin-left: -1px;
  color: #333333;
  text-decoration: none;
}
/* line 324, ../../app/views/stylesheets/application.sass */
#globalnav ul li.hover a {
  background: #9999dd;
  color: white;
}
/* line 327, ../../app/views/stylesheets/application.sass */
#globalnav ul li.hover a:hover {
  background: #7777aa;
  color: white;
}
/* line 331, ../../app/views/stylesheets/application.sass */
#globalnav ul li.hover ul a {
  background: white;
  color: #555555;
}
/* line 334, ../../app/views/stylesheets/application.sass */
#globalnav ul ul {
  position: absolute;
  top: 32px;
  z-index: 20000;
}
/* line 338, ../../app/views/stylesheets/application.sass */
#globalnav ul ul li {
  float: none;
}
/* line 340, ../../app/views/stylesheets/application.sass */
#globalnav ul ul li a {
  margin: -1px 0 0 -1px;
  display: block;
  width: 150px;
}
/* line 344, ../../app/views/stylesheets/application.sass */
#globalnav ul ul li:hover {
  background: #f5f5f5;
}

/* line 347, ../../app/views/stylesheets/application.sass */
#main_detail {
  padding: 0.1em 0em 0em 0em;
  width: 800px;
}
/* line 350, ../../app/views/stylesheets/application.sass */
#main_detail a {
  text-decoration: none;
}
/* line 352, ../../app/views/stylesheets/application.sass */
#main_detail p {
  margin: 0.6em 0em 0em 0em;
  padding: 0em;
}
/* line 355, ../../app/views/stylesheets/application.sass */
#main_detail ul.defect_list {
  margin-top: 0;
  margin-bottom: 0.5em;
}
/* line 358, ../../app/views/stylesheets/application.sass */
#main_detail ul.defect_list li {
  list-style-type: none;
}

/* line 360, ../../app/views/stylesheets/application.sass */
#status_info {
  float: right;
  width: 21em;
  margin: 0px 0px 0px 2em;
  padding: 0px;
  font-size: 0.9em;
  white-space: nowrap;
}
/* line 367, ../../app/views/stylesheets/application.sass */
#status_info strong {
  font-size: 1.1em;
}

/* line 369, ../../app/views/stylesheets/application.sass */
table {
  border-spacing: 0px;
  margin-bottom: 20px;
}
/* line 372, ../../app/views/stylesheets/application.sass */
table a {
  display: block;
  text-decoration: none;
  color: inherit;
}
/* line 376, ../../app/views/stylesheets/application.sass */
table a:hover {
  text-decoration: underline;
}
/* line 378, ../../app/views/stylesheets/application.sass */
table a.action {
  display: inline;
  text-decoration: none;
  color: inherit;
}
/* line 382, ../../app/views/stylesheets/application.sass */
table a.action:hover {
  text-decoration: underline;
}
/* line 384, ../../app/views/stylesheets/application.sass */
table th {
  font-family: Garamond, “Hoefler Text”, Palatino, “Palatino Linotype”, serif;
  font-weight: bold;
  font-variant: small-caps;
  text-transform: capitalize;
  padding: 0.2em 0.6em 0em 0.6em;
  border-bottom: 1px solid #999999;
}
/* line 391, ../../app/views/stylesheets/application.sass */
table th:hover {
  background: white;
  color: black;
}
/* line 395, ../../app/views/stylesheets/application.sass */
table tr.head:hover {
  background: white;
  color: black;
}
/* line 398, ../../app/views/stylesheets/application.sass */
table tr:hover {
  background: #7777aa;
  color: white;
}
/* line 401, ../../app/views/stylesheets/application.sass */
table td {
  font-size: 13px;
  padding: 0em 0.2em 0em 0.2em;
  border-bottom: 1px solid #999999;
}
/* line 405, ../../app/views/stylesheets/application.sass */
table td.left {
  border-left: 1px solid #999999;
}
/* line 407, ../../app/views/stylesheets/application.sass */
table td.right {
  border-right: 1px solid #999999;
  text-align: center;
}
/* line 410, ../../app/views/stylesheets/application.sass */
table td.left_justify {
  text-align: left;
}
/* line 414, ../../app/views/stylesheets/application.sass */
table tr.grey:hover td {
  background: #7777aa;
  color: white;
}
/* line 417, ../../app/views/stylesheets/application.sass */
table tr.grey td {
  background: #eeeeee;
}

/* line 419, ../../app/views/stylesheets/application.sass */
.nowrap {
  white-space: nowrap;
}

/* line 421, ../../app/views/stylesheets/application.sass */
.sidetext {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/* line 426, ../../app/views/stylesheets/application.sass */
p.notes {
  margin-bottom: 0.4em;
}

/* line 428, ../../app/views/stylesheets/application.sass */
.note {
  margin: 0em;
  padding: 0em 0.5em 0.5em 0.5em;
  font-size: 0.8em;
}
/* line 432, ../../app/views/stylesheets/application.sass */
.note li {
  padding-top: 0.2em;
  list-style-type: none;
}
/* line 435, ../../app/views/stylesheets/application.sass */
.note li label {
  font-style: italic;
  padding-left: 1em;
  margin-right: 1em;
}
/* line 440, ../../app/views/stylesheets/application.sass */
.note li.text label {
  vertical-align: top;
  padding-right: 1.5em;
}
/* line 444, ../../app/views/stylesheets/application.sass */
.note fieldset.buttons input {
  margin-top: 1em;
}
