/* line 1, ../../app/views/stylesheets/overlay.sass */
.overlay {
  display: none;
  z-index: 10000;
  background-color: #333333;
  width: 875px;
  height: 450 px;
  border: 1px solid #666666;
  -moz-box-shadow: 0 0 90px 5px black;
  -webkit-box-shadow: 0 0 90px black;
}
/* line 10, ../../app/views/stylesheets/overlay.sass */
.overlay .close {
  background-image: url(/images/icons/close-overlay.png);
  position: absolute;
  left: -15px;
  top: -15px;
  cursor: pointer;
  height: 35px;
  width: 35px;
}

/* line 18, ../../app/views/stylesheets/overlay.sass */
.contentWrap {
  height: 441px;
  overflow-y: auto;
}
