- title "Stories"

%table
  %tr
    %th Story name
    %th Story type
    %th Current state
  - for story in @stories
    %tr
      %td= h story.name
      %td= h story.story_type
      %td= h story.current_state

