-row_classes = ((i + 1) % 2) > 0 ? nil : 'grey'
-if row_classes.nil? && accepted
  -row_classes = 'accepted'
-elsif accepted
  -row_classes = 'grey accepted'
%tr{:class => row_classes}
  %td.left
    .task_type
      =image_tag(get_task_type_icon story.story_type)
      &nbsp;
  %td
    -#%a{:href=>story.url, :rel => '#overlay'}= h story.name
    %a{:href=>story.url, :target => '_new'} #{h story.name}
  %td.status
    .status=show_story_state(story.current_state, image_tag(get_state_icon story.current_state))
  %td.right.nowrap= h story.requested_by
  %td.right.nowrap= h story.owned_by
  %td.right.nowrap
-#    - if current_user_can_move_stories(false)
-#      = link_to 'move', move_story_url(:source => get_story_source(story), :project_id => story.project_id, :story_id => story.id)
