- title "Current Assignments"

- content_for :summary_info do
  %h6
    %a{:href=>'#', :rel => 'toggle_accepted_stories'}Toggle accepted stories
    %a{:href=>'#', :rel => 'toggle_unscheduled_stories'}Toggle unscheduled stories

- @workers.sort.each do |worker|
  =render :partial => 'show_stories_table', :locals =>{:lane => worker}
