- title "Current Assignments"

- content_for :summary_info do
  %h6 Pivotal iteration #{h @iteration_number} (#{h @completion_date}), #{h @story_count} items

- @workers.sort.each do |worker|
  =render :partial => 'show_stories_table', :locals =>{:lane =>worker}
